<div class="footer">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          <span class="apple-link"> © Copyright 2021 Ayyo </span> |
          <span class="apple-link"> Powered by <a href="https://www.ayyo.io"> Ayyo.io</a> </span>
          <!-- <br> Don't like these emails? <a href="#">Unsubscribe</a>. -->
        </td>
      </tr>
      <!-- <tr>
        <td class="content-block powered-by">
          Powered by <a href="https://www.ayyo.io"> Ayyo.io</a>.
        </td>
      </tr> -->
    </table>
</div>